:host /deep/ .svg-icon {
  fill: grey;
  height: 2em;
  width: 2em;
  transition: all 0.3s ease-out;
}

:host /deep/ .svg-icon:hover {
  fill: black;
  height: 2.5em;
  width: 2.5em;
}

pfm-icon {
  margin: 0.5em;
  padding: 0.5em;
}

button {
  margin-right: 1em;
  margin-left: 1em;
}
